


  <div class="row">
    <div class="col-12">
        <h3 class="mb-0">Bienvenido </h3>
        <hr class="red">
    </div>
  </div>


<div class="row">
  <div class="col-12">
      <div class="container d-flex  "  >
        <div class="text-center">
          <!-- Muestra el nombre completo del usuario -->
          <h3 class="mb-2">{{ nombreCompleto }}</h3>
          <!-- Muestra el RFC del usuario -->
          <p class="lead mb-1"><strong>RFC:</strong> {{ rfcUsuario }}</p>
          <!-- Muestra el CURP del usuario -->
          <p class="lead"><strong>CURP:</strong> {{ curpUsuario }}</p>
        </div>
      </div>
  </div>
</div>




