<div class="row">
    <div class="col-12">
        <h3 class="mb-0">Modificación de datos</h3>
        <hr class="red">
    </div>
</div>

<div class="row">
  <div class="col-sm-6">
      <div class="form-group">
          <p>El folio de la solicitud es:
            @if (folioSolicitud && !loadingFolio) {
                <strong>{{ folioSolicitud }}</strong>
            } @else if (loadingFolio) {
                <strong>
                  <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                  Cargando folio...
                </strong>
            } @else {
                <strong>No disponible</strong>
            }
          </p>
      </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <p>Paso 1 de 2: Modificación de datos</p>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-6">
       <p>Selecciona la información que quieres actualizar. Debes firmar con FIEL para concluir el trámite.</p>
        <label for="tipoDato" class="form-label">Datos:</label>
        <select class="form-control" id="tipoDato" [(ngModel)]="selectedTipoDato" (change)="onTipoDatoChange($event)">
            <option value="">Elija opción</option>
            @for (tipo of tiposDatosContador; track tipo.cveIdTipoDato) {
                <option [value]="tipo.cveIdTipoDato">{{ tipo.desTipoDatos }}</option>
            }
        </select>
    </div>
</div>

<!-- SECCIÓN PARA MOSTRAR DATOS DEL COLEGIO (condicional) -->
@if (mostrarSeccionColegio) {
    <div class="row mt-4">
        <div class="col-12">
            <h4>Datos del Colegio o asociado profesional de contadores públicos</h4>
            <hr class="red">


            @if (loadingColegio) {
                <div class="text-center my-3">
                    <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true"></span>
                    Cargando datos del colegio...
                </div>
            } @else if (colegioContador) {
                <div>
                    <!-- PREGUNTA Y BOTONES -->
                    <div class="mb-3">
                        <p>¿Desea actualizar los datos del colegio o asociación al que pertenece?</p>
                        <button class="btn btn-primary me-2" (click)="respuestaActualizarColegio(true)">Sí</button>
                        <button class="btn btn-secondary" (click)="respuestaActualizarColegio(false)">No</button>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">RFC del Colegio:</label>
                        @if (!habilitarEdicionRfcColegio) {
                            <p><strong>{{ colegioContador.rfcColegio }}</strong></p>
                        } @else {
                            <!-- CAMBIO AQUI: Añadir clase para validación visual -->
                            <input type="text" class="form-control"
                                [class.is-invalid]="!rfcColegioValido && nuevoRfcColegio"
                                [(ngModel)]="nuevoRfcColegio"
                                [placeholder]="'Ingrese nuevo RFC'">
                            @if (!rfcColegioValido && nuevoRfcColegio) {
                                <div class="invalid-feedback">
                                    El formato del RFC no es válido.
                                </div>
                            }
                        }
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Razón Social:</label>
                        <p><strong>{{ colegioContador.razonSocial }}</strong></p>
                    </div>

                    @if (habilitarEdicionRfcColegio) {
                         <div  >
                            <button type="button" class="btn btn-primary me-2" (click)="buscarNuevoColegio()">Buscar</button>
                            <button type="button" class="btn btn-secondary" (click)="limpiarNuevoRfcColegio()">Limpiar</button>
                        </div>

  
                    }

                     
                    <h4>Documentación comprobatoria</h4>
                    <hr class="red">
                    <p>Los documentos se deberán adjuntar en formato pdf y que no sean mayores a 5MB.</p>
                    <!-- SECCIÓN PARA ARCHIVO DE CONSTANCIA DE MEMBRESÍA -->
                    <div class="form-group row mb-3">
                        <label for="constanciaMembresia" class="col-md-3 col-form-label">* Constancia de membresía:</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <div class="row w-100 m-0">
                                    <div class="col-sm-8 p-0">
                                        <input type="file" class="form-control" id="constanciaMembresia"
                                               (change)="onFileSelected($event, 'constanciaMembresia')"
                                               accept="application/pdf"
                                               [disabled]="fileConstanciaUploadSuccess || loadingFileConstancia">
                                    </div>
                                    <div class="col-sm-4 pr-0">
                                        <button type="button" class="btn btn-primary w-100"
                                                (click)="uploadFile('constanciaMembresia')"
                                                [disabled]="!selectedFileConstancia || fileConstanciaUploadSuccess || loadingFileConstancia">
                                            @if (loadingFileConstancia) {
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                Adjuntando...
                                            } @else {
                                                Adjuntar
                                            }
                                        </button>
                                    </div>
                                </div>
                            </div>

                            @if (selectedFileConstancia && !fileConstanciaUploadSuccess && !loadingFileConstancia) {
                                <small class="text-muted d-block mt-1">Archivo seleccionado: {{ selectedFileConstancia.name }}</small>
                            }

                            <!-- Mensaje de éxito para constanciaMembresia -->
                            @if (fileConstanciaUploadSuccess) {
                                <div class="alert alert-success mt-2 d-flex align-items-center">
                                    <i class="bi bi-check-circle-fill me-2"></i>
                                    Constancia de membresía cargada exitosamente.
                                    <div class="action-icons ms-3">
                                        <a href="javascript:void(0)" (click)="downloadFile(fileConstanciaHdfsPath, selectedFileConstancia?.name || 'constancia_membresia')" class="icon-link" title="Descargar">
                                            <i class="bi bi-download"></i>
                                            <span class="icon-text"> </span>
                                        </a>
                                        <a href="javascript:void(0)" (click)="deleteFile('constanciaMembresia')" class="icon-link text-danger" title="Eliminar">
                                            <i class="bi bi-trash"></i>
                                            <span class="icon-text"> </span>
                                        </a>
                                    </div>
                                </div>
                            }
                            <!-- Mensaje de error específico para constanciaMembresia -->
                            @if (fileConstanciaError) {
                                <div class="alert alert-danger mt-2 d-flex align-items-center">
                                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                                    {{ fileConstanciaError }}
                                </div>
                            }
                            @if (formSubmitted && !fileConstanciaUploadSuccess) {
                                <small class="text-danger">La constancia de membresía es obligatoria.</small>
                            }
                        </div>
                    </div>



                    
                </div>
            } @else if (selectedTipoDato === '3') {
                <div class="alert alert-info my-3">
                    No se encontraron datos de colegio asociados al RFC del contador.
                </div>
            }
        </div>
    </div>
}